* {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

#nav-list {
    list-style: none;
    background: #505050;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-list li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
ul li a:hover {
    background: #999999;
}


.dropdown {
    width: 100%;
    background: #505050;
    position: absolute;
    z-index: 9;
    display: none;
    width: 100%;
    text-align: center;
}

.dropdown-wrapper:hover ul.dropdown {
    display: block;
}

/* Search box styling */
#search-box form {
    display: flex;
    margin-right: 25px;
}

#search-box input[type="text"], #search-box button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

#search-box input[type="text"] {
    width: 200px;
}

#search-box button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#search-box button:hover {
    background-color: #45a049;
}
